<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/form.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
      <header>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Home</a></li> &nbsp; &nbsp;
            <li role="presentation"><a href="/login">Login</a></li>&nbsp; &nbsp;
            <li role="presentation"><a href="/signup">Register</a></li>&nbsp; &nbsp;
            <li role="presentation"><a href="/view">Your Shopping List</a></li>&nbsp; &nbsp;
            <li role="presentation"><a href="/">Logout</a></li>
          </ul>
        </nav>
        </header>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer"> <br>
        <p>© 2017 Donattah Akinyi &nbsp;<a href="/">Manage your Shopping List</a></p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>