{% extends "base.html" %}
{% block title %}Update shopping List{% endblock %}
{% block body %}


<div>
    <br>
    <div>
    
    Are you sure you want to delete the item: {{itemname}} ?
    
    <div>
        
        <form action = "{{ url_for('delete_shoppinglistitems', id=id) }}" method = "POST">
            Item <input type = "text" value = "{{ itemname }}" name = "item" /> 
            Quantity <input type = "text" value= "{{ itemquantity}}" name = "quantity" />
            Price <input type = "text" value= "{{ itemprice }}" name = "price" />
            <input type = "submit" value = "delete" class="btn" />
        </form>
        </div>
        
                <div>
                    <a href="/view" class="btn btn-sm btn-outline-success">No</a>
                </div>
        
          </div>
          </div>
    
    

{% endblock %}