{% extends "base.html" %}
{% block title %}Add shopping List Items{% endblock %}
{% block body %}

<div>

<form action = "{{ url_for('shoppinglistitems', id=id) }}" method = "POST">
    Item <input type = "text" name = "item" /> 
    Quantity <input type = "text" name = "quantity" />
    Price <input type = "text" name = "price" />
    <input type = "submit" value = "Add" class="btn" />
</form>
</div>


{% if items|length==0 %}
  

  <p>No item in the shopping list <strong> {{session.list_name}} </strong>: Please add a shopping list</p>

  {%else%}
  	<p><h2>Your Shopping List <strong> {{session.list_name}} </strong> items</h2></p>
  	<div>
   <table class="table table-striped">
   	<tr>
   	<th> Item Name</th>
   	<th> Item Quantity</th>
   	<th> Item Price</th>
   	<th></th>
   	<th></th>
   	</tr>
   	{% for x in items %}
   	<tr>
   		<td>{{x.item_name}}</td>
   		<td>{{x.quantity}}</td>
   		<td>{{x.price}}</td>
   		<td><a href="/update_shoppinglistitems/{{ loop.index0 }}" class="btn btn-default ">Edit</a></td>
   		<td><a href="/delete_shoppinglistitems/{{ loop.index0 }}" class="btn btn-danger ">Delete</a></td>
   	</tr>

   	 {% endfor %}

   </table>
    
           </div>

        <div>
        	<a href="/view">Go back to shopping lists</a>
        </div>

  </div>


{% endif %}
{% endblock %}
