
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}


<div>
<div>

<p>
   <h2><small>Welcome {{session.uname}}</small></h2>

   <p>{{msg}}</p>

   <div> <h2>Add Shopping List here</h2> </div>
</p>

</div>

<div>

<form class="forms" action="/view" method="POST">
<input type="text" name="list_name">
<input type="submit" value="Add" class="btn">
</form>

<div>

<!--<form action="" method="POST">
   <input type="text" name="text" placeholder="Enter Shopping ListName">
   <button type="submit" class="btn" id="button" value="Add">Add</button>-->
{% if TEXT|length==0 %}
  

  <p>No shopping list: Please add a shopping list</p>

  {%else%}

  <p>You have {{ TEXT|count }} Shopping list(s)</p>


  	<p><h2>Your Shopping Lists</h2></p>

   <ol>
            {% for x in TEXT %}
            <li> <button class="btn">{{ x }}</button>
                     <a href="/shoppinglistitems/{{ loop.index0 }}" class="btn">Add items</a>
                    <a href="/update_shoppinglist/{{ loop.index0 }}" class="btn btn-default ">Edit</a>
                    <a href="/delete_shoppinglist/{{ loop.index0 }}" class="btn btn-danger ">Delete</a>


            </li>
            {% endfor %}
        </ol> 

  </div>


{% endif %}
{% endblock %}

</div>


