{% extends "base.html" %}
{% block title %}Shopping Lists{% endblock %}
{% block body %}

<div>
<div>
<h2><small>{{session.uname}}, your shopping lists</small></h2>
</div>
<ol>
  {% for x in text %}
            <li> <button class="btn">{{ x }}</button>
                     <a href="/shoppinglistitems/{{ loop.index0 }}" class="btn">Add items</a>
                    <a href="/update_shoppinglist/{{ loop.index0 }}" class="btn btn-default ">Edit</a>
                    <a href="/delete_shoppinglist" class="btn btn-danger ">Delete</a>
            </li>
  <ol>
            {% endfor %}
</div>

{% endblock %}