{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}


<div>

<p>
   <h2>My Shopping Lists</h2>   
</p>

</div>

<div>

<form action="/view" method="POST">
<input type="text" name="list_name">
<input type="submit" value="Add" class="btn">
</form>

<!--<form action="" method="POST">
   <input type="text" name="text" placeholder="Enter Shopping ListName">
   <button type="submit" class="btn" id="button" value="Add">Add</button>-->
{% if text %}
  You have Added the shopping List: {{ text }}
{% endif %}

</div>

 

{% endblock %}
  

